body {
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
  background-color: #f8f9fa;
  line-height: 1.5;
  margin: 0;
}

/* nav */

nav {
  background-color: #2c3e50;
  padding: 25px 0;
  box-shadow: 0 2px 10px black;
  position: sticky;
  top: 0;
}

nav .contenu {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-family: "Playfair Display", serif;
  color: #e8d5b5;
  font-size: 28px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav a {
  color: #f8f9fa;
  text-decoration: none;
}

nav a:hover {
  color: #c27d38;
}

/* header */

.header {
  background-color: #2c3e50b3;
  color: white;
  padding: 60px 0;
  text-align: center;
}

.header h2 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  color: #e8d5b5;
  margin-bottom: 16px;
}

.header p {
  font-size: 20px;
  font-weight: 300;
}

/* intro */

.intro {
  padding: 60px 0;
  text-align: center;
}

.intro h3 {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  color: #2c3e50;
  margin-bottom: 70px;
}

.intro p {
  font-size: 17px;
  color: #555;
  line-height: 1.8;
  margin: 0 60px;
}

/* footer  */

footer {
  background-color: #2c3e50;
  color: #e8d5b5;
  padding: 20px 0;
  text-align: center;
  margin-top: 250px;
}

/* Histoire card */

.histoire-card {
  background-color: white;
  border: 2px solid #e8d5b5;
  border-radius: 8px;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 60px;
  margin: 48px 400px;
  box-shadow: 10px 10px 15px #0000001a;
}

.histoire-card img {
  float: left;
  width: 450px;
  height: 250px;
  border-radius: 8px;
  margin-right: 50px;
}

.histoire-card h3 {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  color: #2c3e50;
  margin: 15px;
}

.histoire-card .period {
  color: #c27d38;
  font-weight: 500;
  font-size: 15px;
}

.histoire-card p {
  color: #555;
  line-height: 1.5;
}

.histoire-card .artists {
  color: #666;
  font-style: italic;
  font-size: 12px;
}

/* Techniques cards */
.techniques-cards {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.technique-card {
  background-color: white;
  border: 2px;
  border-radius: 8px;
  padding: 50px 50px 30px 50px;
  box-shadow: 10px 10px 15px #0000001a;
  width: 450px;
}

.technique-img img {
  width: 300px;
  height: 200px;
  border-radius: 8px;
  display: flex;
  margin: auto;
}

.technique-card h3 {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  color: #2c3e50;
  text-align: center;
}

.technique-card .technique-resume {
  color: #c27d38;
  text-align: center;
  font-weight: 500;
}

.technique-card p {
  color: #555;
  line-height: 1.5;
  margin-bottom: 15px;
  text-align: center;
}
