body {
  background-color: #f4edde;
  font-family: "Roboto", sans-serif;
}

nav {
  text-align: center;
  padding: 20px;
  background-color: #a4a9ab;
  border-radius: 20px;
}

header {
  text-align: center;
  background: linear-gradient();
}

h1 {
  text-align: center;
  padding: 50px;
  font-family: "Playfair Display", serif;
}
